article {
    display: grid;
    grid-template-areas:
        "left right"
        "footer footer";
    max-width: 640px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

footer {
    grid-area: footer;
    text-align: right;
}

[type="range"] {
    width: 100%;
}

[type="number"] {
    margin-left: 10px;
    width: 75px;
}