article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
article.rightToLeft {
    flex-direction: row;
}

article > * {
    max-width: 320px;
}

footer {
    grid-area: footer;
    text-align: right;
}

[type="range"] {
    width: 100%;
}

[type="number"] {
    margin-left: 10px;
    width: 75px;
}