@import url('https://rsms.me/inter/inter.css');

:root {
    --fill: var(--light);
    --stroke: var(--dark);
    --highlight: var(--attention);
    --circle: var(--highlight);
}

html, body {
    overflow: hidden;
}

body {
    background-color: var(--mid);
}

.App {
  display: grid;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  align-content: center;
  padding: calc(var(--tile) * 2);
}

[type="number"] {
    --width: 75px;
    width: var(--width);
    position: absolute;
    bottom: calc(1 * var(--tile));
    right: calc(1 * var(--tile));
    background: var(--highlight);
    border: 2px solid var(--highlight);
    border-radius: 4px;
    color: var(--dark);
}

[type="number"].isMax {
    animation-duration: 1500ms;
    animation-name: flash;
}

  
@keyframes flash {
    0% {
        background-color: var(--light);
        color: var(--light);
    }
    50% {
        color: var(--dark);
    }
    
    100% {
        background-color: var(--highlight);
    }
}


[type="number"]:read-only {
    cursor: default;
}

.repoAction {
    --logo: var(--mid-light);
    position: absolute;
    top: var(--tile);
    right: var(--tile);
    box-shadow: none;
}
.repoAction svg {
    stroke-width: 0;
}

.windowAction {
    min-height: calc(1.5 * var(--tile));
    color: var(--attention);
    background: transparent;
    border: 1px solid var(--attention);
    min-width: calc(1.5 * var(--tile));
    cursor: pointer;
    font-family: 'Inter var', Inter, sans-serif;
}

.windowAction.-close {
    position: absolute;
    top: calc(2 * var(--tile));
    left: calc(2 * var(--tile));
}

.windowAction.-open {
    position: absolute;
    border: 1px solid transparent;
    top: calc(0 * var(--tile));
    right: calc(0 * var(--tile));
}